<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    img {
        border-radius: 50%;
    }
    
    h2 {
        color: cadetblue;
        margin-top: 50px;
        margin-left: 550px;
    }
    
    #imge {
        display: flex;
        align-items: center;
        width: 550px;
        height: 550px;
        margin-left: 20px;
    }
    
    h5 {
        color: cadetblue;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="contact">Contact Us</a>
                    <a class=" nav-link " href="Products ">Products</a>

                </div>
            </div>
        </div>
        <img src="{{ url_for( 'static', filename='aa.jpg' ) }} " width="70px " height="50px " />
    </nav>
    <h2>chocolate store</h2>

    <p>
        {% block content %}

        <div id="imge">
            <div> <img src="https://i.pinimg.com/236x/2f/34/21/2f3421a2001f363c6d9767666eeb9f0b.jpg">

                <h5>product1</h5>
            </div>

            <div><img src="https://i.pinimg.com/236x/3c/12/cd/3c12cdfa69e347bb8812a00a126bea04.jpg">

                <h5>product2</h5>
            </div>
            <div><img src="https://i.pinimg.com/236x/a2/7d/94/a27d94edb97b66caa9cda04f7428d715.jpg">

                <h5>product3</h5>
            </div>
            <div><img src="https://i.pinimg.com/236x/f1/4f/cc/f14fcc05e20d9ba14de91e73c681f410.jpg">

                <h5>product4</h5>
            </div>
            <div><img src="https://i.pinimg.com/236x/90/ca/a1/90caa1f6084bc06b14955ba6a768e51e.jpg">

                <h5>product5
                </h5>

            </div>
            <div><img src="https://i.pinimg.com/236x/1c/a6/be/1ca6be5388ab55e770a5ae8e14053c3b.jpg">

                <h5>product6</h5>
            </div>
        </div>
        </div>

        {% endblock %}

    </p>



</body>


</html>